// COLORS
$color-primary: #211c84;

$color-secondary: #4d55cc;

$color-ternary: #7a73d1;

$color-quaternary: #b5a8d5;

$color-white: #eee;
$color-black: #111;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
