body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 4.778rem;
}

h2 {
  font-size: 3.981rem;
}

h3 {
  font-size: 3.318rem;
}

h4 {
  font-size: 2.765rem;
}

h5 {
  font-size: 2.304rem;
}

h6 {
  font-size: 1.92rem;
}

p {
  font-size: 1.6rem;
}
